body {
    margin: 0;
    padding: 5%;
    background: #eee;
    font-family: sans-serif;
    @include outer-container;
    text-align: center;
}
svg {
    background: #999;
}



article {
    @include span-columns(12);
}

svg.lehrplattform-svg {
    @include span-columns(6);
}
iframe.lehrplattform-iframe {
    @include span-columns(6);
}

$oneStep: 200%;
$halfStep: 200%/2;



.moveRightDown {
    @include animation(moveRightDown .5s linear infinite);
}


@include keyframes(moveRightDown) {
    from {
        @include transform(translate3d(0,0,0));
    }
    to {
        @include transform(translate3d($oneStep,$oneStep,0));
    }
}


.moveRight {
    @include animation(moveRight .5s linear infinite);
}

@include keyframes(moveRight) {
    from {
        @include transform(translate3d(0,0,0));
    }
    to {
        @include transform(translate3d($oneStep,0,0));
    }
}


.moveUp {
    @include animation(moveUp .5s linear infinite);
}

@include keyframes(moveUp) {
    from {
        @include transform(translate3d(0,0,0));
    }
    to {
        @include transform(translate3d(0,-$oneStep,0));
    }
}


.moveRightUp {
    @include animation(moveRightUp .5s linear infinite);
}

@include keyframes(moveRightUp) {
    from {
        @include transform(translate3d(0,0,0));
    }
    to {
        @include transform(translate3d($oneStep,-$oneStep,0));
    }
}

.moveLeft {
    @include animation(moveLeft .5s linear infinite);
}

@include keyframes(moveLeft) {
    from {
        @include transform(translate3d(0,0,0));
    }
    to {
        @include transform(translate3d(-$oneStep,0,0));
    }
}

.moveDown {
    @include animation(moveDown .5s linear infinite);
}

@include keyframes(moveDown) {
    from {
        @include transform(translate3d(0,0,0));
    }
    to {
        @include transform(translate3d(0,$oneStep,0));
    }
}

.moveDownLeft {
    @include animation(moveDownLeft .5s linear infinite);
}

@include keyframes(moveDownLeft) {
    from {
        @include transform(translate3d(0,0,0));
    }
    to {
        @include transform(translate3d(-$oneStep,$oneStep,0));
    }
}

.moveDownRight30 {
    @include animation(moveDownRight30 .5s linear infinite);
}

@include keyframes(moveDownRight30) {
    from {
        @include transform(translate3d(0,0,0));
    }
    to {
        @include transform(translate3d($oneStep,$halfStep,0));
    }
}

.moveAirUp {
    @include animation(moveAirUp 1.75s linear infinite);
}

@include keyframes(moveAirUp) {
    from {
        @include transform(translate3d(0,$oneStep/3,0));
    }
    to {
        @include transform(translate3d(0,-$oneStep/5,0));
    }
}
