svg.machine-css {
    max-width: 800px;
    margin: 40px auto 200px;
    display: block;
}

.ball-00 {
    @include animation(way 12s linear infinite);
}
@include keyframes(way) {
    0% {@include transform(translate(0,0));}
    2.577695161% {@include transform(translate(30px,30px));}
    3.549804883% {@include transform(translate(30px,14px));}
    4.584456886% {@include transform(translate(43px,3px));}
    9.32349178% {@include transform(translate(121px,3px));}
    11.21087009% {@include transform(translate(95px,20px));}
    12.20735665% {@include transform(translate(105px,33px));}
    15.18444267% {@include transform(translate(105px,82px));}
    20.65255986% {@include transform(translate(15px,82px));}
    22.48938748% {@include transform(translate(40px,99px));}
    23.08777313% {@include transform(translate(31px,95px));}
    27.52302374% {@include transform(translate(31px,168px));}
    33.05189778% {@include transform(translate(122px,168px));}
    34.92848818% {@include transform(translate(95px,183px));}
    36.02379801% {@include transform(translate(105px,198px));}
    39.0622484% {@include transform(translate(106px,248px));}
    44.59145626% {@include transform(translate(15px,247px));}
    46.46312252% {@include transform(translate(40px,265px));}
    47.41217497% {@include transform(translate(30px,277px));}
    48.8095827% {@include transform(translate(30px,300px));}
    57.61681261% {@include transform(translate(133px,402px));}
    58.27399851% {@include transform(translate(139px,411px));}
    80.93207094% {@include transform(translate(508px,465px));}
    84.82050983% {@include transform(translate(508px,529px));}
    100% {@include transform(translate(746px,605px));}
}

.ball-01 {@include animation-delay(0s);}
.ball-02 {@include animation-delay(.2s);}
.ball-03 {@include animation-delay(.4s);}
.ball-04 {@include animation-delay(.6s);}
.ball-05 {@include animation-delay(.8s);}
.ball-06 {@include animation-delay(1.0s);}
.ball-07 {@include animation-delay(1.2s);}
.ball-08 {@include animation-delay(1.4s);}
.ball-09 {@include animation-delay(1.6s);}
.ball-10 {@include animation-delay(1.8s);}

.ball-11 {@include animation-delay(2.0s);}
.ball-12 {@include animation-delay(2.2s);}
.ball-13 {@include animation-delay(2.4s);}
.ball-14 {@include animation-delay(2.6s);}
.ball-15 {@include animation-delay(2.8s);}
.ball-16 {@include animation-delay(3.0s);}
.ball-17 {@include animation-delay(3.2s);}
.ball-18 {@include animation-delay(3.4s);}
.ball-19 {@include animation-delay(3.6s);}
.ball-20 {@include animation-delay(3.8s);}

.ball-21 {@include animation-delay(4.0s);}
.ball-22 {@include animation-delay(4.2s);}
.ball-23 {@include animation-delay(4.4s);}
.ball-24 {@include animation-delay(4.6s);}
.ball-25 {@include animation-delay(4.8s);}
.ball-26 {@include animation-delay(5.0s);}
.ball-27 {@include animation-delay(5.2s);}
.ball-28 {@include animation-delay(5.4s);}
.ball-29 {@include animation-delay(5.6s);}
.ball-30 {@include animation-delay(5.8s);}

.ball-31 {@include animation-delay(6.0s);}
.ball-32 {@include animation-delay(6.2s);}
.ball-33 {@include animation-delay(6.4s);}
.ball-34 {@include animation-delay(6.6s);}
.ball-35 {@include animation-delay(6.8s);}
.ball-36 {@include animation-delay(7.0s);}
.ball-37 {@include animation-delay(7.2s);}
.ball-38 {@include animation-delay(7.4s);}
.ball-39 {@include animation-delay(7.6s);}
.ball-40 {@include animation-delay(7.8s);}

.ball-41 {@include animation-delay(8.0s);}
.ball-42 {@include animation-delay(8.2s);}
.ball-43 {@include animation-delay(8.4s);}
.ball-44 {@include animation-delay(8.6s);}
.ball-45 {@include animation-delay(8.8s);}
.ball-46 {@include animation-delay(9.0s);}
.ball-47 {@include animation-delay(9.2s);}
.ball-48 {@include animation-delay(9.4s);}
.ball-49 {@include animation-delay(9.6s);}
.ball-50 {@include animation-delay(9.8s);}

.ball-51 {@include animation-delay(10.0s);}
.ball-52 {@include animation-delay(10.2s);}
.ball-53 {@include animation-delay(10.4s);}
.ball-54 {@include animation-delay(10.6s);}
.ball-55 {@include animation-delay(10.8s);}
.ball-56 {@include animation-delay(11.0s);}
.ball-57 {@include animation-delay(11.2s);}
.ball-58 {@include animation-delay(11.4s);}
.ball-59 {@include animation-delay(11.6s);}
.ball-60 {@include animation-delay(11.8s);}


button.btn-toggle {
    display: inline-block;
    cursor: pointer;
}

$speedNormal: 9s;
$speedFast: 6s;
$speedSlow: 12s;
$speedStop: 0s;

.speedNormal .ball-00 {@include animation-duration($speedNormal);}
.speedFast .ball-00 {@include animation-duration($speedFast);}
.speedSlow .ball-00 {@include animation-duration($speedSlow);}
.speedStop .ball-00 {@include animation-duration($speedStop);}













