---
layout: default
---

<h2>Pure CSS animation (not finished yet)</h2>

<!-- <button class="toggleStop">Stop</button>
<button class="toggleSlow">Slow</button>
<button class="toggleNormal">Normal</button>
<button class="toggleFast">Fast</button> -->

<div class="container speedNormal">

    {% include svg/machine-css.svg %}

    {% include svg/fragment.svg %}

</div>

<script src="{{ site.baseurl }}/assets/js/vendor/jquery-1.11.3.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
